<h4>This pull request was created by <%=@user%></h4>
</br>

<p>Here is the validation report:</p>

</ul>
    <% @learn_results.each do |result| %>
      <li class="<%=result[:color]%>"><%=result[:message]%></li>
    <%end%>
    <% @readme_results.each do |result| %>
      <li class="<%=result[:color]%>"><%=result[:message]%></li>
    <%end%>
    <% @license_results.each do |result| %>
      <li class="<%=result[:color]%>"><%=result[:message]%></li>
    <%end%>
    <% @contributing_results.each do |result| %>
      <li class="<%=result[:color]%>"><%=result[:message]%></li>
    <%end%>
</ul>